:root { //light theme
    --main-bg: ghostwhite;
    --doc-bg: white;
}

// :root.dark { //dark theme
//     --main-bg: #383a46;
// }

//

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    line-height: 1.1;
}

// positioning and sizing

aside {
    display: none;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 2.5rem;

    #document {
        width: 50vw;
        max-height: 100vh;
        padding: 6rem;
    }
}

//colors

main {
    background-color: var(--main-bg);

    #document {
        background-color: var(--doc-bg);
    }
}